<% if @questions.present? %>
  <p><%= t(".show_test", title: @test.title, level: @test.level) %></p>

  <%= link_to t('.back'), admin_tests_path %>
  <%= link_to t('.edit_test'), edit_admin_test_path(@test) %>
  <%= link_to t('.delete_test'), admin_test_path(@test),
              method: :delete, data: { confirm: t(".sure") } %>

  <h2><%= t(".test_questions") %></h2>

  <table>
    <tr>
      <th>id</th>
      <th><%= t(".body") %></th>
    </tr>

    <%= render @test.questions %>

  </table>
  <%= link_to t(".new_question"), new_admin_test_question_path(@test) %>
<% else %>
  <p><%= t(".no_question") %></p>
<% end %>


