<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="view_port", content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Admin Panel | TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'admin/admin_nav' %>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col col-md-4">
          <h2>Admin panel</h2>
        </div>

      </div>
    </div>

    <div class="container">
      <%= render 'shared/flash' %>
      <%= yield %>
    </div>

    <%= render 'shared/footer' %>
  </body>
</html>